* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: lightgreen;
}

.song-container{
    position: absolute;
    left: 35%;
    top: 20%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px  ;
    z-index: 1;
    width: 510px;
    height: 350px;
}
.song-container img {
  width: 100%;
  height: 90%;
  /* object-fit: cover; */
} 

audio{
  position: absolute;
  left: 100%;
}
input{
  display: flex;
  z-index: 1;
  position: absolute;
  top: 90%;
  left: 25%;
  width: 350px;
}
.controls-container{
  position: absolute;
  top: 65%;
  left: 36%;
  z-index: 1000;
}
#current{
  position: absolute;
  left: 35%;
  top: 12%;
  font-size: larger;
}
h2{
  position: absolute;
  left: 35%;
  top: 5%;
  font-size: xx-large;
}
.playing{
  color: yellowgreen;
}
#play-list{
  position: absolute;
  width: 510px;
  top: 70%;
  border-radius: 5px;
  left: 35%;
  background-color: antiquewhite;
  margin-top: 2px;
  padding: 5px;
}

#play-list .item:nth-child(1){
  border-top: 1px solid;
}
#play-list .item{
  padding: 4px;
  cursor: pointer;
  border-bottom: 1px solid;
}

